<div style="padding-top: 70px;">
  <div class="container">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of cats">
          <td>{{ cat.id }}</td>
          <td>{{ cat.name }}</td>
          <td>
            <!-- Use routerLink to navigate to the CatDetailsComponent -->
            <a class="btn btn-info" [routerLink]="'/details/' + cat.id +cat.breed +cat.country">
              <i class="fa fa-eye"></i> View
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Conditionally display CatDetailsComponent if a cat is selected -->
    
  </div>
</div>
